{% extends "layout.html" %}

{% block title %}{{ current_user.username }}さんの{{ bestnine.name }}{% endblock %}

{% block content %}
    <h1 class="d-flex align-items-baseline gap-3">
            <span>{{ bestnine.name }}</span>
            <small class="text-muted fs-6">
                作成日時{{ bestnine.created_at_jst.strftime("%Y-%m-%d-%H:%M") }}
            </small>
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>選手</th>
                <th>チーム</th>
                <th>ポジション</th>
            </tr>
        </thead>
        <tbody>
            {% for slot in bestnine.best_nine_slots %}
                <tr>                
                    <td><a href="{{ url_for('main.player', id=slot.player.id) }}">{{ slot.player.name }}</a></td>
                    <td><a href="{{ url_for('main.team', id=slot.player.team.id)}}">{{ slot.player.team.name }}</a></td>
                    <td><a href="{{ url_for('main.position', id=slot.position.id) }}">{{ slot.position.name }}</a></td>
                </tr>
            {% endfor %}              
        </tbody>   
    </table>

    <form action="{{ url_for('main.bestnine_delete', id=bestnine.id) }}"  style="text-align: right" method="POST">
        <button type="submit">削除</button>
    </form>
{% endblock %}