<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <header>
            <nav>
                <a href="{{ url_for('main.home') }}" class="btn btn-primary btn-sm">ホームへ戻る</a>
                <a href="{{ url_for('main.players') }}" class="btn btn-primary btn-sm">選手一覧へ</a>
                <a href="{{ url_for('main.teams') }}" class="btn btn-primary btn-sm">チーム一覧へ</a>
                <a href="{{ url_for('main.positions') }}" class="btn btn-primary btn-sm">ポジション一覧へ</a>
                <a href="{{ url_for('main.bestnine_create') }}" class="btn btn-primary btn-sm">ベスト9作成</a>
                <a href="{{ url_for('auth.mypage') }}" class="btn btn-primary btn-sm">マイページ</a>
                {% if current_user.is_authenticated %}
                    <form action="{{ url_for('auth.logout') }}" method="POST" style="display: inline;">
                        <button class="btn btn-primary btn-sm">ログアウト</button>
                    </form>
                {% else %}
                        <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-sm">ログイン</a>
                {% endif %}
            </nav>
        </header>

        <hr>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <span style="color: red;">{{ message }}</span>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <main>
            {% block content %}
            {% endblock %}
        </main>      
    
    </div>
</body>
</html>